
h1{
    font-size: 80px;
    font-family: Impact;
}

p{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}

button{
    width: 250px;
    height: 80px;
    /* background-color: blue; */
    color: white;
    transition: all ;
}

button:hover{
background-color: rgb(255, 115, 0) !important;
}

#quote{
    font-size: 35px;
}
#author{
    font-size: 35px;
}